<head>
	<title>Jenn Minerva | Words + Code</title>
	<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="style.css">
	<link href='https://fonts.googleapis.com/css?family=Oswald:300|Droid+Serif' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
		<a href="mailto:j@jennminerva.com">
			<img src="https://cdn3.iconfinder.com/data/icons/peelicons-vol-1/50/Mail-20.png">
		</a>
		<a href="http://twitter.com/jennminerva">
			<img src="https://cdn3.iconfinder.com/data/icons/peelicons-vol-1/50/Twitter-20.png">
		</a>
		<a href="http://instagram.com/jennminerva">
			<img src="https://cdn3.iconfinder.com/data/icons/peelicons-vol-1/50/Intsagram-20.png">
		</a>
		<a href="http://pinterest.com/hellojennyfair">
			<img src="https://cdn3.iconfinder.com/data/icons/peelicons-vol-1/50/Pinterest-20.png">
		</a>
	</header>
	<div class="title menu sidebar">
		<h1 class="main-title">Jenn Minerva</h1>
		<h2 class="tagline">words + code</h2>
		<ul class="menu-ul">
			<li class="menu-ul-li">
				<a href="http://jennminerva.com/index">about</a>
			</li>
			<li class="menu-ul-li">
				<a href="http://jennminerva.com/blog">blog</a>
			</li>
			<li class="menu-ul-li">
				<a href="http://jennminerva.com/projects">projects</a>
			</li>
			<li class="menu-ul-li">
				<a href="http://jennminerva.com/quilts">quilts</a>
			</li>
		</ul>
	</div>
	<div class="content">

	<h1 class="blog-h1">blog title</h1>
	<h2 class="blog-h2">date & time</h2>
		<p class="blog-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit quam in ante ultricies, tincidunt tempor est aliquam. Aliquam lacus dui, tristique ac erat eget, tincidunt laoreet est. Vestibulum at sapien ac enim ultrices imperdiet. Duis non pretium diam, id dapibus orci. Sed id aliquam odio. Fusce turpis purus, efficitur vel dapibus nec, scelerisque ut felis. Quisque aliquet lorem eros, ut accumsan lectus ornare sed. Integer consequat iaculis sapien, at sagittis ligula tempor sed.</p>

		<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas id purus et nunc tincidunt cursus vitae ut ipsum. Maecenas in tincidunt ipsum. Ut a leo nisl. Mauris mauris ipsum, malesuada ac risus id, scelerisque cursus nulla. Phasellus viverra turpis mi, et egestas justo porttitor sed. Sed porttitor iaculis luctus. Sed vel ipsum elit. Curabitur in justo eget turpis tempor tincidunt. Pellentesque ante ex, pellentesque id justo eu, accumsan bibendum nisi. Aliquam placerat et orci et sagittis. Morbi quis est tincidunt, mattis ex at, interdum justo. Fusce finibus tincidunt augue non semper. Vivamus interdum, felis ut suscipit pretium, justo lectus pretium ex, in viverra mi ligula id eros. Suspendisse faucibus orci sit amet fermentum auctor. In laoreet porta cursus.</p>

		<p>In hac habitasse platea dictumst. Phasellus quis vehicula nulla. Aenean malesuada pellentesque mauris imperdiet dapibus. Integer in ante ut purus dignissim gravida. Proin rhoncus vulputate ullamcorper. In et enim quis arcu malesuada commodo eget sit amet metus. Phasellus vestibulum risus eu finibus congue. Nulla consequat augue eget ex posuere lacinia. Aliquam erat volutpat. Vivamus quis mi eu orci cursus consectetur.</p>

		<p>Donec tortor lacus, malesuada vel volutpat eget, rhoncus ut odio. Pellentesque molestie risus ac lectus finibus, id aliquam odio tincidunt. Nunc venenatis, lacus quis interdum ornare, risus tortor lobortis leo, et fermentum diam eros eget metus. Proin commodo sit amet est eu iaculis. Quisque nec lacus neque. Maecenas vitae sollicitudin quam. Morbi pulvinar rutrum lacus, a vehicula nulla convallis a. Donec convallis elit lacus, et vehicula odio efficitur non. Sed id mauris aliquet, sodales lectus sit amet, viverra ante. Donec ullamcorper luctus lectus.</p>

		<p>Ut pharetra sodales augue, sed consectetur dolor euismod quis. Vestibulum et felis nec eros varius luctus. Cras dapibus fringilla varius. Integer ullamcorper non est sed venenatis. Duis id ante sit amet enim dapibus convallis. Donec facilisis bibendum diam, id fermentum dui lacinia id. Aenean mattis, ante id lobortis elementum, lorem lacus blandit lacus, et consequat mi massa ut felis. Donec urna nibh, facilisis id malesuada quis, eleifend a eros. Nullam scelerisque sem non aliquet luctus. Nullam id lorem eros. Fusce laoreet arcu vitae pretium feugiat. Ut feugiat dui consequat, varius quam nec, pellentesque magna. Morbi et metus pharetra, convallis lectus eget, fermentum arcu. Nulla convallis urna ut quam vestibulum ullamcorper.</p>
	</div>
</body>
</html>