<head>
	<title>Jenn Minerva | Words + Code</title>
	<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="style.css">
	<link href='https://fonts.googleapis.com/css?family=Oswald:300|Droid+Serif' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
		<div class="title menu sidebar">
		<h1 class="GlobalLogo">Jenn Minerva</h1>
		<h2 class="tagline">words + code</h2>
		<ul class="MenuList">
			<li class="MenuListItem">
				<a href="http://jennminerva.com/index">about</a>
			</li>
			<li class="MenuListItem">
				<a href="http://jennminerva.com/blog">blog</a>
			</li>
			<li class="MenuListItem">
				<a href="http://jennminerva.com/projects">projects</a>
			</li>
			<li class="MenuListItem">
				<a href="http://jennminerva.com/quilts">quilts</a>
			</li>
		</ul>
	</div>
	</header>
	<div class="Content">
		<p>Hi! I'm Jenn.</p>
		<p>Though currently entrenched in the medical field, I've dabbled in web development for quite some time. Finally deciding I didn't want my future to include healthcare, I moved to Seattle to do this thing for real.</p>
		<p>When I'm not working or coding, I <a href="http://jennminerva.com/blog">write</a> and <a href="http://jennminerva.com/quilts">sew</a> and try to figure out how exactly to get my crappy oven to produce a perfectly chewy chocolate chip cookie. (This is no small feat.)</p>
		<p>Dev projects can be found <a href="http://jennminerva.com/projects">here</a>.</p>
	</div>
</body>
</html>