
body {
  font-family: 'droid serif', times, serif;  
  background-position: fixed;
  background: white;
  overflow:scroll;
  font-size: 15px;
  margin: 0;
  padding: 0;
  color: black;
}

a {
  position: relative;
  color: gray;
  text-decoration: none;
}

a:hover {
  color: gray;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: gray;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

header {
  margin: 10px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.4rem;
  font-weight: 300;
 /* margin-top: 10vh;*/
  line-height: 100%;
  text-transform: uppercase;
 /* text-align: center;*/
}

h2 {
  font-family: 'droid serif', times, serif;  
  font-weight: 300;
  font-size: 1.5rem;
  /*line-height: 50%;*/
 /* padding-bottom: 20px;
  text-align: center;*/
}

p {
  font-family: 'droid serif', times, serif;  
  font-size: 15px;
  line-height: 150%;
  padding: 10px;
}

div {
  width: 95vw;
  height: 0;
  padding-top: 5vw;
  padding-bottom: 100px;
  margin: 2.5vw;
}

/*CONTENT DIV*/

.Content {
    width: 95vw;
    height: 0;
    padding-top: 150px;
    padding-bottom: 100px;
}

@media (min-width: 800px) {
  .Content {
    width: 53vw;
    height: 0;
    padding-top: 50px;
    padding-bottom: 100px;
    margin: 1vw;
    float: left;
  }
}

/*SIDEBAR*/

@media (min-width: 800px) {
  .Sidebar {
    width: 43vw;
    height: 0;
    padding-top: 5vw;
    padding-bottom: 100px;
    margin: 1vw;
    float: left;
  }
}

.Title {
  font-family: 'oswald', helvetica, sans-serif;  
  text-align: center;
  line-height: 100%;
  padding-bottom: 175px;

}

.GlobalLogo {
  font-size: 3rem;
  font-weight: 400;
  line-height: 10%;
  text-transform: uppercase;
}

.tagline {
  font-family: 'droid serif', times, serif;  
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: .5rem;
  line-height: 100%;
  padding-bottom: 20px;
  text-align: center;
  text-transform: lowercase;
}

/*NAVIGATION*/

.Menu {
  font-family: 'oswald', helvetica, sans-serif;  
  font-size: 15px;
  text-align: center;
  display: block;
  padding-top: 1em;
  padding-bottom: 5em;
  text-transform: uppercase;
}

@media (min-width: 800px) {
  .Menu {
    font-family: 'oswald', helvetica, sans-serif;  
    font-size: 1.3rem;
    font-weight: 300;
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    text-transform: uppercase;
  }
}

.MenuList {
  margin: 0 auto;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  list-style: none;
}

@media (min-width: 800px) {
  .MenuList {
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }
}

.MenuListItem {
  float: left;
  margin: 1em 1em;
  
}

@media (min-width: 800px) {
  .MenuListItem {
    margin: 1em 1em;
    float: none;
  }
}

/*BLOG*/

/*.blog-h1 {
  font-size: 2rem;
  text-align: left;
  margin: 0;
  padding-top: 25px;
}

.blog-h2 {
  font-size: .8rem;
  text-align: left;
  margin: 0;
  padding-top: 10px;
}

.blog-p {
  font-size: .7rem;
  margin: 0;
  padding: 0;
}*/